@page
@model WebApp.Web.Pages.HomeModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>@Model.Message</p>



<table class="table">
    <thead class="thead-light">
        <tr>
            <th><label>Program Id</label></th>
            <th><label>Client holding</label></th>
            <th><label>Business sub-line</label></th>
            <th><label>Underwriting year</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model.Programs)
        {
            <tr>
                <td>@program.ProgramId</td>
                <td>@program.ClientHolding</td>
                <td>@program.BusinessSubLine</td>
                <td>@program.UnderWritingYear</td>
                <td><a asp-page="./EditProgram" asp-route-id="@program.ProgramId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

